<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>Selecionar estados para baixar as tabelas</a>
        <select name="viagem" id="p1">
            <option value=1>Acre</option>
            <option value=2>Alagoas</option>
            <option value=2>Amazonas</option>
            <option value=3>Amapá</option>
            <option value=4>Bahia</option>
            <option value=5>Ceará</option>
            <option value=6>Distrito Federal</option>
            <option value=7>Espirito Santo</option>
            <option value=8>Goiás</option>
            <option value=9>Maranhão</option>
            <option value=10>Mato Grosso</option>
            <option value=11>Mato Grosso do Sul</option>
            <option value=12>Minas Gerais</option>
            <option value=13>Pará</option>
            <option value=14>Paraíba</option>
            <option value=15>Parana</option>
            <option value=16>Pernambuco</option>
            <option value=17>Piauí</option>
            <option value=18>Rio de Janeiro</option>
            <option value=19>Rio Grande do Norte</option>
            <option value=20>Rio Grande do Sul</option>
            <option value=21>Rondônia</option>
            <option value=22>Roraíma</option>
            <option value=23>Santa Catarina</option>
            <option value=24>São Paulo</option>
            <option value=25>Sergipe</option>
            <option value=26>Tocantins</option>
        </select>
        <select name="viagem" id="p2">
            <option value=1>Acre</option>
            <option value=2>Alagoas</option>
            <option value=28>Amazonas</option>
            <option value=3>Amapá</option>
            <option value=4>Bahia</option>
            <option value=5>Ceará</option>
            <option value=6>Distrito Federal</option>
            <option value=7>Espirito Santo</option>
            <option value=8>Goiás</option>
            <option value=9>Maranhão</option>
            <option value=10>Mato Grosso</option>
            <option value=11>Mato Grosso do Sul</option>
            <option value=12>Minas Gerais</option>
            <option value=13>Pará</option>
            <option value=14>Paraíba</option>
            <option value=15>Parana</option>
            <option value=16>Pernambuco</option>
            <option value=17>Piauí</option>
            <option value=18>Rio de Janeiro</option>
            <option value=19>Rio Grande do Norte</option>
            <option value=20>Rio Grande do Sul</option>
            <option value=21>Rondônia</option>
            <option value=22>Roraíma</option>
            <option value=23>Santa Catarina</option>
            <option value=24>São Paulo</option>
            <option value=25>Sergipe</option>
            <option value=26>Tocantins</option>
        </select>    

        <button onclick="botao()">button</button>


    <script>
        function botao() {
            p1_val = document.getElementById("p1").value
            p2_val = document.getElementById("p2").value

            //var opcao1 = p1_val.options[select.selectedIndex].value;
            //var opcao2 = p2_val.options[select.selectedIndex].value;


            url = "/bot/" + p1_val + "/" + p2_val
            window.location.assign(url)

        }
    </script>
</body>
</html>